/* styles reset */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: white;
  letter-spacing: 2%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2e2f42;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

ul,
ol {
  list-style-type: none;
  margin: o;
  padding-left: 0;
}

img {
  display: block;
}

.icon {
  fill: none;
}

input {
  outline: none;
}

/* container */

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

/* header */

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  height: 72px;

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
}

.menu-nav {
  display: flex;
  gap: 40px;
  align-items: center;
}

/* studio */

.studio {
  color: #404bbf;

  position: relative;
}

.studio::after {
  content: '';
  width: 100%;
  background-color: #404bbf;
  height: 4px;
  display: block;
  border-radius: 2px;

  position: absolute;
  bottom: -1px;
}

.menu-nav-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-link:hover {
  color: #404bbf;
  letter-spacing: 0.02em;
}

.menu-nav-link:focus {
  color: #404bbf;
}

.contact-info-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info-link:hover {
  color: #404bbf;
  letter-spacing: 0.02em;
}

.contact-info-link:focus {
  color: #404bbf;
}

.contact-info ul {
  display: flex;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  gap: 40px;
}

/* title */

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image.jpg);
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-heading {
  line-height: 1.7;
  color: white;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-button {
  background-color: #4d5ae5;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  background-color: #404bbf;
}

.hero-button:focus {
  background-color: #404bbf;
}

/* modal overlay */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  background-color: #fcfcfc;
  min-height: 584px;
  width: 408px;
  border-radius: 4px;
  padding: 24px;
  padding-top: 72px;
  /* тут падінг зверху буде 72 піскелі так як написаний пізніше общего падінгу для всіх 24піскелі? чи все таки потрібно всім окремо тоді сатвити падінги?  */

  /* цей спосіб класний для анімацій: 50% від розміру батьківського елементу (від вьюпорту) */
  position: absolute;
  top: 50%;
  left: 50%;
  /* 50% від розміру самого елементу назад, щоб відцентрувати */
  transform: translate(-50%, -50%);

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  border-radius: 50%;

  /* ставимо кнопку абсолют, батько в неї  .modal який також має абсолют, і цього достатньо.*/
  position: absolute;
  top: 24px;
  right: 24px;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.modal-close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: rgba(64, 75, 191, 1);
  border: none;
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: white;
}

.modal-title {
  text-align: center;

  color: #2e2f42;
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.modal-input {
  width: 100%;
  height: 40px;

  box-sizing: border-box;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;

  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icons {
  fill: #4d5ae5;
}

.form-part-wrap {
  margin-bottom: 8px;
}

.last-wrap {
  margin-bottom: 16px;
}

.input-wrap {
  position: relative;
}

.modal-icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  color: rgb(142, 143, 153);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
}

.modal-comment {
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}

.modal-btn {
  display: block;
  margin: 0 auto;
}

.modal-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-comment {
  padding: 8px 16px;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.04em;
  outline: transparent;
  background-color: transparent;
}

.modal-comment:focus {
  border-color: #4d5ae5;
}

.modal-input-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  appearance: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: white;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.modal-input-checkbox:checked + label .checkbox-icon-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/* Hide the check mark by default (before being checked) */
.checkbox-icon-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.checkbox-text {
  width: 360px;
  color: rgba(142, 143, 153, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.checkbox-wrap {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  align-items: center;
  justify-content: center;
}

.privacy-link {
  color: rgba(77, 90, 229, 1);
  text-decoration: underline;
  margin-left: 4px;
}

/* values */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.values {
  padding: 120px 0;
}

.values-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.values-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.values-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.values-list {
  display: flex;
  gap: 24px;
}

.values-list-item {
  width: calc((100%-72px) / 4);
}

/* team */

.team {
  padding: 120px 0;
}

.team {
  background-color: #f4f4fd;
}

.team-heading {
  letter-spacing: 0.02em;
  line-height: 1.11;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background-color: #ffffff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: calc((100%-72) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-content {
  padding: 32px 0;
  text-align: center;
}

.team-name {
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 8px;
}

.team-role {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* icons */

.icon-container {
  display: flex;
  gap: 24px;
  margin: 0 16px;

  justify-content: center;
}

.icon-container-item {
  width: 40px;
  height: 40px;
}

.socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
}

.socials-icon {
  fill: #f4f4fd;
}

/* portfolio */

.portfolio {
  padding: 120px 0 120px 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* portfolio image overlay */

.portfolio-image-container {
  position: relative;
  overflow: hidden;
}

.portfolio-image-container:hover .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);

  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-heading {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-sub-heading {
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 8px;
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-card-content {
  height: 120px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo-container {
  margin-right: 120px;
}

.logo-footer {
  margin-bottom: 16px;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.logo {
  display: inline-block;
}

.footer-socials-text {
  color: white;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .icon-container {
  margin: 0;
  gap: 16px;
}

.footer .socials-icon {
  fill: #f4f4fd;
}

.socials-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .socials-link:hover,
.footer .socials-link:focus {
  background-color: #31d0aa;
}

.footer-email-input::placeholder {
  color: white;
  font-size: 12px;
}

.subscribe {
  color: #fff;
  font-size: 16px;
  color: ;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-email-form {
  display: flex;
  gap: 24px;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  padding-left: 16px;
  color: white;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;

  font: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffff;

  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.footer-icon {
  margin-left: 16px;
  fill: white;
}

.footer-email-container {
  margin-left: 80px;
}
